html,
body,
section,
main {
  height: 100%;
  background-color: #e1bee7;
}

iframe {
  width: 90%;
  height: 65%;
}

header {
  text-align: center;
  font-family: "Josefin Slab", serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #BA68C8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 20px;
    font-family: "Catamaran", sans-serif;
    margin-left: 5px;
  }
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
  }

  li:first-child, li:nth-child(2) {
    padding-right: 5px;
    img {
    width: 20px;
    height: 20px;
    }
  }
}
